#/Backend/
#/DataBase/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## Security KEY ##
.env
application-secrets.yml

!.env.test

# Archivos típicos de Java / Maven (de main)
target/
*.class
*.log
.mvn/
mvnw
mvnw.cmd

# Node modules (para frontend)
node_modules/
