
# Archivos típicos de Java / Maven (de main)
# Ignorar archivos con secretos
# Ignorar archivos temporales del sistema
# Ignorar carpetas de datos persistentes
### IntelliJ IDEA ###
### NetBeans ###
# Node modules (para frontend)
## Security KEY ##
### STS ###
### VS Code ###
application-secrets.yml
.apt_generated
#/Backend/
build/
*.class
.classpath
*.conf
**/data/
#/DataBase/
/dist/
.DS_Store
**/.env
.env
!.env.test
.factorypath
HELP.md
.idea
*.iml
*.ipr
*.iws
*.log
.mvn/
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
/nbbuild/
/nbdist/
/.nb-gradle/
/nbproject/private/
node_modules/
.project
.settings
.springBeans
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
.sts4-cache
*.swp
target/
*.tmp
.vscode/
